*{
    margin:0;
    padding:0;
    border:0;
}

#wrapper{
    margin: 0 auto;
    padding:0;
    border:0;
    width:960px;
    height:617px;
    background-image: url(../images/background_white.jpg);
}

#title{
    width:960px;
    height:127px;
    background-image:url(../images/index_title.png);
}

#select{
    width:960px;
    height:57px;
    padding-top:9px;
    background-image:url(../images/select_background.png);
}

.nav-pills > li + li {
  margin-left: 35px;
}

#menu{
    width:960px;
    height:89px;
    padding-top:20px;
    background-image:url(../images/menu_background.png);
}

#menu_left{
    width:400px;
    height:25px;
    margin-left:45px;
    display: inline-block;
}

#menu_right{
    width:400px;
    height:25px;
    float:right;
    margin-right: 45px;
}

label{
    font-weight: normal;
}

#bm{
    width:120px;
    border:1px solid rgb(127,157,185);
}

#xmcont{
    margin-left: 70px;
}
#xm{
    width:120px;
    border:1px solid rgb(127,157,185);
}

#sj{
    margin-left:20px;
}

.time{
    border:1px solid rgb(127,157,185);
}

.btn{
    margin-left:20px;
}

#content{
    width:960px;
    height:345px;
    padding-top:10px;
    padding-left:35px;
}

#table_content{
    width:890px;
    height:270px;
}

#button_content{
    width:890px;
    height:45px;
}

#edit{
    float:right;
}

#save{
    float:right;
}

th,td{
    text-align: center;
}