@CHARSET "UTF-8";

#wrapper {
	margin: 0 auto;
	padding: 0;
	border: 0;
	width: 960px;
	height: 467px;
	background-image: url(../images/background_white.jpg);
}

#menu_left {
	width: 100px;
	height: 25px;
	margin-left: 45px;
	display: inline-block;
}

#ok {
	width: 30px;
	height: 25px;
	background-image: url(../images/ok.png);
	display: inline-block;
}

#word {
	width: 60px;
	height: 25px;
	display: inline-block;
	float: right;
	line-height: 25px;
}

th {
	text-align: center;
}

td {
	text-align: center;
}

.input-group[class*="col-"]{
	float:left;
}

.modalSelect{
	width:219px;
}

.validateSuc{
	color:#3c763d;
}

.validateFail{
	color:#a94442;
}

.borderSuc{
	border:1px solid #3c763d;
}

.borderFail{
	border:1px solid #a94442;
}
