@CHARSET "UTF-8";

#wrapper {
	margin: 0 auto;
	padding: 0;
	border: 0;
	width: 960px;
	height: 467px;

}

#menu_left {
	width: 100px;
	height: 25px;
	margin-left: 45px;
	display: inline-block;
}

#ok {
	width: 30px;
	height: 25px;
	background-image: url(../images/ok.png);
	display: inline-block;
}

#word {
	width: 60px;
	height: 25px;
	display: inline-block;
	float: right;
	line-height: 25px;
}

.loglist{
	padding: 5px 50px;
	text-align: center;
}

.single-log{
	width: 800px;
	margin: 6px auto;
	border: 1px solid #eee;
	background-color: #eee;
	border-radius: 5px;
	padding-top: 5px;
	padding-left: auto;
	padding-right: auto;
}

.single-line{
	height:34px;
}

.label-control{
	text-align:right;
}

.multiple-line{
	height: 34px;
}

.text-control{
	text-align:left;
}