@CHARSET "UTF-8";

.select-control{
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#bm {
	width:150px;	
}

#wrapper{
    margin: 0 auto;
    padding:0;
    border:0;
    width:960px;
    height: 600px;
    background-image: url(../images/background07.jpg);
    background-repeat: repeat-y;
}

#menu_left{
    width:100px;
    height:25px;
    margin-left:45px;
    display: inline-block;
}

#ok{
    width:30px;
    height:25px;
    background-image:url(../images/ok.png);
    display:inline-block;
}

#word{
    width:60px;
    height:25px;
    display:inline-block;
    float:right;
    line-height: 25px;
}

#menu_right{
    width:760px;
    height:25px;
    float:right;
    margin-right: 5px;
}

th{
	text-align:center;
}

td{
	text-align:center;
}

#bmlxLabel{
	padding-left:15px;
}

#sj{
	padding-left:15px;
}

#quarter{
	padding-right:20px;
}

#table_content{
	height:300px;
}

#button_content{
	text-align:right;
	padding-right:100px;
}

#hiddenValue{
	display:none;
}
#loading-indicator{
	text-align: center;
	display: none;
}
