@CHARSET "UTF-8";

*{
    margin:0;
    padding:0;
    border:0;
}
body{
	margin-top:-28px;
	background: url(../images/left_add_2.jpg) repeat-x;
}

#wrapper{
    margin: 0 auto;
    padding:0;
    border:0;
    width:1200px;
    height:664px;
    background: url(../images/background03.jpg);
}

#title{
    width:960px;
    height:120px;
    margin-left: auto;
    margin-right: auto;
}

#title_content{
    width:430px;
    height:75px;
    margin-top:25px;
    margin-left: auto;
    margin-right: auto;
}


#log{
    width:63px;
    height:71px;
    margin-top:22px;
    background:url(../images/log.png);
    float:left;
}

#title_name{
   width:337px;
   height:75px; 
   float:right;
}

#title_image{
    width:337px;
    height:34px;
    position:absolute;
    top:40px;
    background: url(../images/title.png);
}

#content{
    width:960px;
    height:497px;
    position: absolute;
    top:120px;
}

#login_content{
    width:380px;
    height:321px;
    position: absolute;
    top:125px;
    left:370px;
   /* background: url(../images/login_content.png);*/
}

#main_content{
    width:350px;
    height:180px;
    position: absolute;
    top:40px;
    left:10px;
}

label{
    font-weight: normal;
}

#buttongroup{
	  text-align:center;
 	margin-top:10px;
	  margin-left:20px;
}

#loginRes
{
	  display:none;
}

#footer{
	width:960px;
	height:100px;
	text-align:center;
	margin:400px auto;
	top:580px;
}

#logo{
	
}

#logoDiv{
    text-align:center;
}

.inline{
	display:inline-block;
	_zoom:1;
	*display:inline;
	margin-left:10px;
	margin-right:10px;
}
